<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="container">
    <div class="mt-4">
        <a href="/admin/stored/shirts"><i class="fa-solid fa-arrow-left" style="font-size: 24px;"></i></a>
        <h2>Sản phẩm đã xóa</h2>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Tên SP</th>
                <th scope="col">Giá</th>
                <th scope="col">Hình ảnh</th>
                <th scope="col">Thời gian xóa</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each shirts}}
            <tr>
                <th scope="row">{{this._id}}</th>
                <td>{{this.name}}</td>
                <td>{{this.price}}</td>
                <td><img src="{{this.image}}" alt="{{this.name}}" style="width: 80px; height: auto;"></td>
                <td>{{this.deletedAt}}</td>
                <td><a href="" class="btn btn-primary btn-restore" data-id="{{this._id}}">Khôi phục</a></td>
                <td><a href="#" class="btn btn-danger" data-bs-toggle="modal" data-id="{{this._id}}"
                        data-bs-target="#delete-shirt">Xóa hoàn toàn</a></td>
            </tr>
            {{else}}
            <tr>
                <td class="text-center" colspan="5">
                    Thùng rác trống.
                    <a href="/admin/stored/shirts">Danh sách sản phẩm</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    {{!-- Modal delete product --}}
    <div id="delete-shirt" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xóa sản phẩm?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Xác nhận xóa bỏ hoàn toàn?</p>
                </div>
                <div class="modal-footer">
                    <button id="btn-delete-shirt" type="button" class="btn btn-danger">Xóa</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>

    <form name="delete-shirt-form" method="POST"></form>
    <form name="restore-shirt-form" method="POST"></form>
</div>

<script>
    var deleteModal = document.getElementById('delete-shirt');
    var btnDelete = document.getElementById('btn-delete-shirt');
    var deleteForm = document.forms['delete-shirt-form'];
    var restoreForm = document.forms['restore-shirt-form'];
    var restoreBtns = document.querySelectorAll('.btn-restore');
    var shirtId;
    if (deleteModal) {
        deleteModal.addEventListener('show.bs.modal', event => {
            var button = event.relatedTarget;
            shirtId = button.getAttribute('data-id');
        });
    }

    btnDelete.addEventListener('click', event => {
        deleteForm.action = '/shirts/' + shirtId + '/force?_method=DELETE';
        deleteForm.submit();
    });

    restoreBtns.forEach(function (btn) {
        btn.addEventListener('click', e => {
            e.preventDefault();
            shirtId = btn.getAttribute('data-id');
            restoreForm.action = '/shirts/' + shirtId + '/restore?_method=PATCH';
            restoreForm.submit();
        });
    });

</script>